---
title: DISCLAIMER
pagina: Disclaimer

---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en">

  {% include head.html %}

  <body>
      {% include nav.html %}
    
    <div id="skrollr-body">

      <div class="parallax-wrapper">

	      <section class="contactform">
	      	<div class="container">
	      		<div class="row vertical-align">
	      			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12">
	      				<h2 class="text-center">Disclaimer</h2>
	      				<p>The terms & conditions are currently being reviewed by our legal counselors and will be available soon.</p>
	      			</div>
	      		</div>
	      	</div>
	      </section>
      
      </div>

      {% include footer.html %}

    </div>

  </body>

</html>