---
title: ENGAGE
pagina: Engage

---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en">

  {% include head.html %}

  <body>
      {% include nav.html %}
    
    <div id="skrollr-body">

      <div class="parallax-wrapper">
            <section class="engage">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                        	<div class='contentbox sameHeight'>
	                            <div class='social_icon'>
	                                <a href='https://t.me/fundrequestofficial' target="_blank">
	                                	<i class="icon-icon-telegram" aria-hidden="true"></i>
	                                </a>
	                            </div>
	                            <h2>Join our Telegram group</h2>
	                            <p>Join our Telegram group (<a href='https://t.me/fundrequestofficial' target='_blank'>@fundrequestofficial</a>), and deposit your Telegram ID and email through the form you find on our Telegram channel (<a href='https://t.me/fundrequestannouncement' target='_blank'>@fundrequestannouncement</a>).</p>
	                        </div>
                            <p><a href="https://t.me/fundrequestofficial" class='smallBtn' target='_blank'>Group</a> <a href="https://t.me/fundrequestannouncement" class='smallBtn' target='_blank'>Channel</a></p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                        	<div class='contentbox sameHeight'>
	                            <div class='social_icon'>
	                                <a href="https://fundrequest.chat/home" target="_blank"><span class="icon-rocketchat"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></a>
	                            </span></a>
	                            </div>
	                            <h2>Join us on<br/>Rocket.Chat</h2>
	                            <p>Become part of the FundRequest community by joining us on Rocket Chat</p>
	                        </div>
                            <p><a href="https://fundrequest.chat/home" class='smallBtn' target='_blank'>JOIN US</a></p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                        	<div class='contentbox sameHeight'>
	                            <div class='social_icon'>
	                                <a href="https://www.reddit.com/r/fundrequest/" target="_blank"><i class="fa fa-reddit" aria-hidden="true"></i></a>
	                            </div>
	                            <h2>Find us on<br/>Reddit</h2>
	                            <p>Developers can find out what issues are most important to the <a href="https://reddit.com/r/fundrequest"target='_blank'>community</a>.</p>
	                        </div>
                            <p><a href="https://www.reddit.com/r/fundrequest/" class='smallBtn' target='_blank'>Find us on reddit</a></p>
                        </div>
                    </div>
                </div>

                <div class="container text-center">
                    <div class="row join">         
                        <div class="col-sm-12 follow-us">
                            <br/><br>
                            <h2>CHECK OUT OUR EARLY ALPHA RELEASE
</h2>
                            <p>Start testing our Alpha platform and share your feedback with the FundRequest team.</p>
                            <a class="smallBtn marginBtn" href="https://alpha.fundrequest.io/" target='_blank'>Alpha Platform</a><a class="smallBtn marginBtn" href="https://docs.fundrequest.io/display/PUB/Alpha+Release" target='_blank'>Documentation</a>
                        </div>
                    </div>
                </div>
            </section>
      
      </div>

      {% include footer.html %}

    </div>

  </body>

</html>