---
title: ENGAGE
pagina: Engage

---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en">

  {% include head.html %}

  <body>
      {% include nav.html %}
    
    <div id="skrollr-body">

      <div class="parallax-wrapper">

	      <section id="slide-1" class="header header-ctaright">
	        <div class="bg-image" style="background-image: url('assets/img/header-home.jpg');"
	        data-top="background-position: 50% 0px;" data-center-bottom="background-position: 50% -50px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1"></div>
	        <div class="container">
	          <div class="row">
	            <div class="col-lg-6 col-md-7 col-sm-8 vertical-align" data-center="opacity: 1" data--200-top="opacity: 0" data-anchor-target="#slide-1 h2">
                    <h2>GET INVOLVED</h2>
                    <p>Get informed by joining the active FundRequest community.<br/>Ask questions, discuss development, interact with our team members and fellow enthusiasts.</p>
                    <br />
                    <p><a href="#" class='scrolltonext'>Join our community.</a></p>
	            </div>
	          </div>
	        </div>
	        {% include ctasquare.html %}
	      </section>

            <section class="engage">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 sameHeight">
                            <div class='social_icon'>
                                <a href='https://t.me/fundrequestofficial' target="_blank">
                                	<i class="icon-icon-telegram" aria-hidden="true"></i>
                                </a>
                            </div>
                            <h2>Join our Telegram group</h2>
                            <p>@fundrequestofficial</p>
                        </div>
                        <div class="col-md-4 col-sm-6 sameHeight">
                            <div class='social_icon'>
                                <a href="https://fundrequest.slack.com/" target="_blank"><span class="icon-slack"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></a>
                            </span></a>
                            </div>
                            <h2>Join our<br/>Slack</h2>
                            <p><i>NOTE: At the moment, we've enabled a waiting list on accepting new users to our Slack. This is for security purposes and will likely last until the completion of the FundRequest token distribution.</i></p>
                            <p><a href="https://goo.gl/4bESsj" class='smallBtn' target='_blank'>JOIN THE WAITING LIST</a></p>
                        </div>
                        <div class="col-md-4 col-sm-6 sameHeight">
                            <div class='social_icon'>
                                <a href="https://www.reddit.com/r/fundrequest/" target="_blank"><i class="fa fa-reddit" aria-hidden="true"></i></a>
                            </div>
                            <h2>Find us on<br/>Reddit</h2>
                            <p>Developers can find out what issues are most important to the community.</p>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row join">         
                        <div class="col-sm-6 follow-us">
                            <br/><br>
                            <h2>Sign up for our newsletter</h2>
                            <p>Get a regular news bulletin from the FundRequest headquarters. We promise not to spam you, and you can unsubscribe any time you want.</p>
                            <a class="smallBtn" href="http://eepurl.com/c9f0FX" target='_blank'>Subscribe</a>
                        </div>
                        <div class="col-sm-6 follow-us">
                            <br/><br>
                            <h2>Follow us</h2>
                            <p>Stay up-to-date with the day-to-day business at FundRequest.</p>
                            <ul>
                                <li><a href="https://www.facebook.com/FundRequestplatform/" target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/fundrequest_io" target='_blank'><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/11180912/" target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
      
      </div>

      {% include footer.html %}

    </div>

  </body>

</html>