---
title: ROADMAP
pagina: Roadmap

---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en">

  {% include head.html %}

  <body>
      {% include nav.html %}
    
    <div id="skrollr-body">

      <div class="parallax-wrapper">

	      <section id="slide-1" class="header header-ctaright">
	        <div class="bg-image" style="background-image: url('assets/img/bureau2.jpg');"
	        data-top="background-position: 50% 0px;" data-center-bottom="background-position: 50% -50px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1"></div>
	        <div class="container">
	          <div class="row">
	            <div class="col-lg-6 col-md-7 col-sm-8 vertical-align" data-center="opacity: 1" data--200-top="opacity: 0" data-anchor-target="#slide-1 h2">
                    <h2>ROADMAP</h2>
                    <p>We have a clear vision on how to grow FundRequest over the next years – from a funding platform for open source on Github, to a fully integrated one-stop solution for issue requests on any platform.</p>
                    <br />
                    <p><a href="#" class='smallBtn scrolltonext'>Discover our present and future plans</a></p>
	            </div>
	          </div>
	        </div>
	        {% include ctasquare.html %}
	      </section>

           <section class="text-columns onecolumn roadmap-intro">
                <div class="container">
                    <div class="row vertical-align">
                        <div class="col-md-3 col-sm-6 col-xs-6 sameHeight text-center">
                            <img src="assets/img/pilot.png" alt="Pilot" />
                            <h3>Phase 1<br/>PILOT</h3>
                            <p>A Proof of Concept to measure adoption and gather feedback (available on the Ethereum testnet).</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 sameHeight text-center">
                            <img src="assets/img/build.png" alt="Build" />
                            <h3>Phase 2<br/>BUILD</h3>
                            <p>Version 1.0: a platform to fund open source software on Github.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 sameHeight text-center">
                            <img src="assets/img/integrate.png" alt="Integrate &amp; grow" />
                            <h3>Phase 3<br/>INTEGRATE & GROW</h3>
                            <p>Seamless integration of FundRequest into multiple platforms.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 sameHeight text-center">
                            <img src="assets/img/pivot.png" alt="Pivot &amp; expand" />
                            <h3>Phase 4<br/>PIVOT & EXPAND</h3>
                            <p>Further integration: enable FundRequest for projects, competitions and bounty programs.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bigimg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="assets/img/platform.jpg" alt="Platform" />
                        </div>
                    </div>
                </div>
            </section>

		{% include participate.html %}
      
      </div>

      {% include footer.html %}

    </div>

  </body>

</html>