---
title: TEAM
pagina: Team

---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en">

  {% include head.html %}

  <body>
      {% include nav.html %}
    
    <div id="skrollr-body" class="teampage">

      <div class="parallax-wrapper">

	      <section id="slide-1" class="header header-ctaright">
	        <div class="bg-image" style="background-image: url('assets/img/header-home.jpg');"
	        data-top="background-position: 50% 0px;" data-center-bottom="background-position: 50% -50px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1"></div>
	        <div class="container">
	          <div class="row">
	            <div class="col-lg-6 col-md-7 col-sm-8 vertical-align" data-center="opacity: 1" data--200-top="opacity: 0" data-anchor-target="#slide-1 h2">
                    <h2>TEAM MEMBERS</h2>
                    <p>An ambitious idea like FundRequest absolutely needs a talented and complementary team to succeed. We have gathered all the right people for the job – meet the team!</p>
                    <br />
                    <p><a href="#" class='scrolltonext smallBtn'>Meet the team</a></p>
	            </div>
	          </div>
	        </div>
	        {% include ctasquare.html %}
	      </section>

            <section class="team">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Core team</h2>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay groen"><img class="img-circle" src="assets/img/karel-striegel.jpg" width="140" alt="Karel Striegel avatar"></div>
                            <h3>Karel Striegel</h3>
                            <h4>Founder / CEO</h4>
                            <p>Karel is the man with the vision, and the solutions to execute his ideas. His infectious enthusiasm is the fuel behind the whole FundRequest team.</p>
                            <ul>
                                <li><a href="https://twitter.com/TheCharliez" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/karelstriegel/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay groen"><img class="img-circle" src="assets/img/davy-van-roy.jpg" width="140" alt="Davy Van Roy avatar"></div>
                            <h3>Davy Van Roy</h3>
                            <h4>CTO</h4>
                            <p>Davy builds on existing ideas and makes them better. He’s a no-nonsense man of action that can solve the toughest problems. At FundRequest he’s in charge of the platform architecture & development.</p>
                            <ul>
                                <li><a href="https://twitter.com/DavyVanRoy" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/davyvanroy/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay oranje"><img class="img-circle" src="assets/img/gerbert-vandenberghe.jpg" width="140" alt="Gerbert Vandenberghe avatar"></div>
                            <h3>Gerbert Vandenberghe</h3>
                            <h4>Business Analyst</h4>
                            <p>Gerbert has a passion for domain modeling, and is always eager to learn and discuss new ideas and insights. His main focus is creating business value while providing the best possible user experience.</p>
                            <ul>
                                <li><a href="https://twitter.com/gillepils" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/gerbertvandenberghe/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay blauw"><img class="img-circle" src="assets/img/tim-dierckxsens.jpg" width="140" alt="Tim Dierckxsens avatar"></div>
                            <h3>Tim Dierckxsens</h3>
                            <h4>Product Manager</h4>
                            <p>Tim has the gift to assemble all the right people around a project. He can enter the mind of a customer and determines the viability of an idea accordingly.</p>
                            <ul>
                                <li><a href="https://twitter.com/TimDierckxsens" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/timdierckxsens/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay oranje"><img class="img-circle" src="assets/img/steve-maris.jpg" width="140" alt="Steve Maris avatar"></div>
                            <h3>Steve Maris</h3>
                            <h4>Core Developer</h4>
                            <p>Steve is a full-stack developer with a preference for front-end technology. He knows how to style and structure the web, with a focus on UX and accessibility</p>
                            <ul>
                                <li><a href="https://www.linkedin.com/in/steve-maris-7b26b652/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay blauw"><img class="img-circle" src="assets/img/quinten-de-swaef.jpg" width="140" alt="Quinten De Swaef Avatar"></div>
                            <h3>Quinten De Swaef</h3>
                            <h4>Core Developer</h4>
                            <p>Quinten is an ethical hacker, who is always up to date with the latest tech developments. At FundRequest, he supports the back-end development.</p>
                            <ul>
                                <li><a href="https://twitter.com/QuintenDes" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/quinten-de-swaef-562a8826/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="team advisors">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12" id="advisors">
                            <h2>ADVISORY BOARD</h2>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay oranje"><img class="img-circle" src="assets/img/lasse-clausen.jpg" width="140" alt="Lasse Clausen avatar"></div>
                            <h3>Lasse Clausen</h3>
                            <h4>Token launch and token economics</h4>
                            <p>Lasse is an entrepreneur driven by technology's world-changing potential. He’s currently a partner at the 1kx blockchain angel fund and an advisor on tokenization.</p>
                            <ul>
                                <li><a href="https://twitter.com/lalleclausen" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/lasseclausen/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay blauw"><img class="img-circle" src="assets/img/christopher-heymann.jpg" width="140" alt="Christopher Heymann avatar"></div>
                            <h3>Christopher Heymann</h3>
                            <h4>Technology and token economics</h4>
                            <p>Christopher has over 10 years experience as CTO for IT startups. He is currently a partner at the 1Kx blockchain angel fund, and will be our advisor for token generation events.</p>
                            <ul>
                                <li><a href="https://www.linkedin.com/in/christopher-heymann-baa51828/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay groen"><img class="img-circle" src="assets/img/nico-haelterman.jpg" width="140" alt="Nico Haelterman avatar"></div>
                            <h3>Nico Haelterman</h3>
                            <h4>Technical Analyst</h4>
                            <p>Nico has a passion for emerging technologies and is a firm believer in decentralised (micro) payments. With an MD in commercial engineering and specialisation in AI, he will act as an economical and technical advisor for our team.</p>
                            <ul>
                                <li><a href="https://www.linkedin.com/in/nico-haelterman-2b60121/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay oranje"><img class="img-circle" src="assets/img/thomas-matthys.jpg" width="140" alt="Thomas Matthys avatar"></div>
                            <h3>Thomas Matthys</h3>
                            <h4>Financial Advisor</h4>
                            <p>Thomas is finalising a PhD in banking and corporate finance at the Vlerick Business School. He has a penchant for numbers and critical thinking, and will be counseling our business model.</p>
                            <ul>
                                <li><a href="https://twitter.com/t_matthys" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/thomasmatthys/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
                            <div class="overlay blauw"><img class="img-circle" src="assets/img/thomas-graham.png" width="140" alt="Thomas Graham avatar"></div>
                            <h3>Thomas Graham</h3>
                            <h4>Marketing Advisor</h4>
                            <p>Tom is a co-founder at Codec.ai, (an AI and machine learning marketing company) and founder of  MapD, the world's fastest database. He is an expert in the emerging cryptocurrency regulatory landscape.</p>
                            <ul>
                                <li><a href="https://twitter.com/tomgtgraham?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/tomgtgraham/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

		{% include participate.html %}
      
      </div>

      {% include footer.html %}

    </div>

  </body>

</html>
