<div class="hidden-md hidden-sm hidden-xs">
    <div class="cta-huls" style="" data-top="opacity: 1; transform: rotate(45deg) translate(0px,0px);" data-top-bottom="opacity: 1; transform: rotate(45deg) translate(200px,200px);" data-anchor-target="#slide-1">
        <div class="cta-image" style="background-image: url('{{ ctaimage | default:'assets/img/header-home-cta.png' }}'); background-position: -625px top;"></div>
    </div>
    <a class="youtube playbtn" href="https://www.youtube.com/watch?v=Jnd5W7h3igQ" data-top="opacity: 1; transform: translate(0px,0px);" data-center-bottom="opacity: 1; transform: translate(0px,150px);" data-anchor-target="#slide-1"><span class="icon-play"></span></a>
    <div class="cta-block" data-top="opacity: 1; transform: translate(0px,0px);" data-center-bottom="opacity: 1; transform: translate(0px,600px);" data-top-bottom="opacity: 0; transform: translate(0px,555px);" data-anchor-target="#slide-1">
		<div class="cta-inner vertical-align">
			<a class="cta-btn" href="https://register.fundrequest.io/" target='_blank'>GET REGISTERED<br/> FOR TOKEN SALE!</a>
		</div>
    </div>
</div>
<div class="hidden-lg">
    <div class="cta-huls" style="">
        <div class="cta-image" data-top="background-position: 50% -100px;" data-center-bottom="background-position: 50% -150px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-1" style="background-image: url('{{ ctaflipimage | default:'assets/img/header-home-flip-cta.png' }}'); background-position: -625px top;"></div>
    </div>
    <a class="youtube playbtn" href="https://www.youtube.com/watch?v=Jnd5W7h3igQ"><span class="icon-play"></span></a>
    <div class="cta-block" data-top="opacity: 1; transform: translate(0px,0px);" data-center-bottom="opacity: 1; transform: translate(0px,100px);" data-anchor-target="#slide-1">
		<div class="cta-inner vertical-align">
			<a class="cta-btn" href="https://register.fundrequest.io/" target='_blank'>GET REGISTERED FOR TOKEN SALE!</a>
		</div>
    </div>
</div>