<footer>
	<div class="container">
		<div class="row">
			<div class="ruit"></div>
			<div class="col-lg-4 col-md-5 socials text-center">
				<h4>Follow us</h4>
				<ul>
                    <li><a href="https://github.com/fundrequest/" target='_blank'><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://fundrequest.chat" target="_blank"><span class="icon-rocketchat"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></a></li>
                    <li><a href="https://www.facebook.com/FundRequestplatform/" target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/fundrequest_io" target='_blank'><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
                <ul>
                    <li><a href="https://www.reddit.com/r/fundrequest/" target='_blank'><i class="fa fa-reddit" aria-hidden="true"></i></a></li>
                    <li><a href="https://group.kakao.com/_q0wqyP" target='_blank'><img src='assets/img/kakaotalk.png'/></a></li>
                  	<li><a href="https://t.me/fundrequestofficial" target='_blank'><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                  	<li><a href="https://weixin.qq.com/g/A9d0vxSBGzcMWLsn" target='_blank'><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
				</ul>
				<a class="typeform-share link" href="https://fundrequest.typeform.com/to/pu3EGe" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true data-submit-close-delay="1" target="_blank">Subscribe newsletter</a>
			</div>
			<div class="col-lg-offset-2 col-lg-6 col-md-7">
				<div class="row">
					<div class="col-sm-4 footerblock">
						<h4>Company</h4>
						<ul>
							<li><a href="{{ site.baseurl }}{% link about.html %}">About</a></li>
							<li><a href="{{ site.baseurl }}{% link team.html %}">Team</a></li>
							<li><a href="{{ site.baseurl }}{% link team.html %}#advisors">Advisors</a></li>
                            <li><a href="{{ site.baseurl }}{% link contact.html %}">Contact</a></li>
						</ul>
					</div>
					<div class="col-sm-4 footerblock">
						<h4>Resources</h4>
						<ul>
                            <li><a href="https://fundrequest.io/whitepaper.pdf" target='_blank'>Whitepaper</a></li>
                            <li><a href="https://docs.fundrequest.io/display/PUB/" target='_blank'>Documentation</a></li>
                            <li><a href="https://blog.fundrequest.io/" target='_blank'>Blog</a></li>
						</ul>
					</div>
					<div class="col-sm-4 footerblock">
						<h4>Legal</h4>
						<ul>
							<li><a href="{{ site.baseurl }}{% link disclaimer.html %}">Disclaimer</a></li>
							<li>© {{ 'now' | date: "%Y" }} <a href="{{ site.baseurl }}{% link index.html %}">Fundrequest</a></li>
							<li>All rights reserved</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<section class='footer_references'>
	<div class="container">
		<div class="row">
			<div class='col-sm-12'>
				<ul id="slider_references" class="cS-hidden">
				  <li><a href='https://hacked.com/ico-analysis-fundrequest/' target='_blank'><img src="{{ "assets/img/hacked.png" | prepend: site.baseurl}}"/></a></li>
				  <li><a href='http://www.the-blockchain.com/2017/11/01/fundrequest-launches-blockchain-incentive-platform-open-source-projects/' target='_blank'><img src="{{ "assets/img/blockchainnews.png" | prepend: site.baseurl}}"/></a></li>
				  <li><a href='https://www.entrepreneur.com/amphtml/302827' target='_blank'><img src="{{ "assets/img/entrepreneur.png" | prepend: site.baseurl}}"/></a></li>
				  <li><a href='http://icocrowd.com/2017/07/27/fund-reward-open-source-development-favorite-platform/' target='_blank'><img src="{{ "assets/img/icocrowd.png" | prepend: site.baseurl}}"/></a></li>
				  <li><a href='https://www.cryptoninjas.net/2017/10/31/fundrequest-introduces-blockchain-incentive-platform-open-source-projects/' target='_blank'><img src="{{ "assets/img/cryptoninjas.png" | prepend: site.baseurl}}"/></a></li>
				  <li><a href='http://www.chain-finance.com/2017/11/02/open-source-projects-incentivised-through-blockchain-platform/' target='_blank'><img src="{{ "assets/img/chainfinance.png" | prepend: site.baseurl}}"/></a></li>
				  <li><a href='https://startupradius.com/ico-fundrequest-incentivizes-open-source-development/' target='_blank'><img src="{{ "assets/img/startupradius.png" | prepend: site.baseurl}}"/></a></li>
				  <li><a href='https://www.btc-echo.de/fundrequests-dezentrale-open-source-plattform/' target='_blank'><img src="{{ "assets/img/btcecho.png" | prepend: site.baseurl}}"/></a></li>
				  <li><a href='https://www.chipin.com/fundrequest-ico-rewarding-contributions-crypto/' target='_blank'><img src="{{ "assets/img/chipin.png" | prepend: site.baseurl}}"/></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="{{ "/assets/js/skrollr.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/assets/js/jquery.matchHeight.js" | prepend: site.baseurl}}" type="text/javascript"></script>
<script src="{{ "/assets/js/bootstrap.youtubepopup.js" | prepend: site.baseurl}}" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js" integrity="sha256-nHmCK+HOPMPezzS3ky9VKznMWH4sW4keT8HrMaDNbYo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ "/assets/js/script.js" | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{ "/assets/js/typeform-newsletter.js" | prepend: site.baseurl}}"></script>