<footer>
	<div class="container">
		<div class="row">
			<div class="ruit"></div>
			<div class="col-lg-4 col-md-5 socials text-center">
				<h4>Follow us</h4>
				<ul>
                    <li><a href="https://github.com/fundrequest/" target='_blank'><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://fundrequest.slack.com/" target='_blank'><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/FundRequestplatform/" target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/fundrequest_io" target='_blank'><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.reddit.com/r/fundrequest/" target='_blank'><i class="fa fa-reddit" aria-hidden="true"></i></a></li>
                    <li><a href="https://group.kakao.com/_q0wqyP" target='_blank'><img src='assets/img/kakaotalk.png'/></a></li>
				</ul>
				<a href="http://eepurl.com/c9f0FX" target='_blank'>Subscribe newsletter</a>
			</div>
			<div class="col-lg-offset-2 col-lg-6 col-md-7">
				<div class="row">
					<div class="col-sm-4 footerblock">
						<h4>Company</h4>
						<ul>
							<li><a href="{{ site.baseurl }}{% link about.html %}">About</a></li>
							<li><a href="{{ site.baseurl }}{% link team.html %}">Team</a></li>
							<li><a href="{{ site.baseurl }}{% link team.html %}#advisors">Advisors</a></li>
                            <li><a href="{{ site.baseurl }}{% link contact.html %}">Contact</a></li>
						</ul>
					</div>
					<div class="col-sm-4 footerblock">
						<h4>Resources</h4>
						<ul>
                            <li><a href="https://fundrequest.io/whitepaper.pdf" target='_blank'>Whitepaper</a></li>
                            <li><a href="https://docs.fundrequest.io/display/PUB/" target='_blank'>Documentation</a></li>
                            <li><a href="https://blog.fundrequest.io/" target='_blank'>Blog</a></li>
						</ul>
					</div>
					<div class="col-sm-4 footerblock">
						<h4>Legal</h4>
						<ul>
							<li><a href="{{ site.baseurl }}{% link disclaimer.html %}">Disclaimer</a></li>
							<li>© {{ 'now' | date: "%Y" }} <a href="{{ site.baseurl }}{% link index.html %}">Fundrequest</a></li>
							<li>All rights reserved</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="{{ "/assets/js/skrollr.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/assets/js/jquery.matchHeight.js" | prepend: site.baseurl}}" type="text/javascript"></script>
<script src="{{ "/assets/js/bootstrap.youtubepopup.js" | prepend: site.baseurl}}" type="text/javascript"></script>
<script type="text/javascript" src="{{ "/assets/js/script.js" | prepend: site.baseurl}}"></script>