<section id="participate" class="header header-ctaleft notop">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-6 col-lg-5 col-md-7 col-sm-8 vertical-align" data-center="opacity: 1" data--200-top="opacity: 1" data-anchor-target="#participate h2">
                <h2>PARTICIPATE</h2>
                <p>​​​​​​​Do you want to stay up-to-date with the latest news, or do you want to contribute to the project?<br/><br/>Get on board with FundRequest!</p>
                <a class="smallBtn" href="{{ site.baseurl }}{% link engage.html %}">Participate</a>
            </div>
        </div>
    </div>
    <div class="hidden-md hidden-sm hidden-xs">
        <div class="cta-huls" style="" data-200-top="opacity: 1; transform: rotate(45deg) translate(-150px,-150px);" data-top="opacity: 1; transform: rotate(45deg) translate(-50px,-50px);" data-center-bottom="opacity: 1; transform: rotate(45deg) translate(200px,200px);" data-anchor-target="#participate">
            <div class="cta-image" style="background-image: url('assets/img/header-2-cta.png'); background-position: 0px top;"></div>
        </div>
    </div>
    <div class="hidden-lg">
        <div class="cta-huls" style="">
            <div class="cta-image" data-top="background-position: 50% -200px;" data-center-bottom="background-position: 20% -250px;" data-top-bottom="background-position: 50% -300px;" data-anchor-target="#participate" style="background-image: url('assets/img/header-2-flip-cta.png'); background-position: -180px top;"></div>
        </div>
    </div>
</section>